
body, html {
    background: white;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    font-family: "IBM Plex Sans";
    font-weight: 300;
    font-size: 20px;
    line-height: 36px;
    padding: 0;
    margin: 0;
    width: 100vw;
}


h1 {
    font-weight: 800;
    font-size: 45px;
    line-height: 72px;
    
}
h2 {
    font-weight: 600;
    font-size: 35px;
    line-height: 56px;
    
}

h1, h2 {
    text-align: center;
    color: white;
    -webkit-text-stroke: 1px rgb(65, 64, 115);
    text-rendering: optimizeLegibility;
}

h1, h2, h4 {
    text-transform: uppercase;
}

div {
    text-align: center;
}

.section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 180px 100px 180px;
}


/* Header  */

header {
    position: relative;
    top: 0 ;
    left: 0;
    width: 100%;
    background: linear-gradient(90deg, rgb(234, 242, 251) 0%, rgb(193, 204, 221) 100%); 
    padding: 5px;
    z-index: 1000;
    margin: 0
  }
  
nav ul {
    display: flex;
    list-style: none;
    gap: 50px;
    margin: 5px 50px 5px 0px;
    justify-content: flex-end;

}


nav ul li button {
    background: none;
    border: none;
    color: rgb(65, 64, 115);
    cursor: pointer;
    font-size: 14px;
}


nav ul li button:hover {
text-decoration: underline;
}

/* Title page */
.my-name {
    text-shadow: 3px 1px 3px rgb(193, 204, 221);
    color: rgb(76, 57, 87);
    text-align: left;
}

.title-description {
    text-align: left;
}


/* ABOUT ME PAGE */
.about-me-container {
    display: flex;
    opacity: 0; /* Initially hidden */
    transform: translateX(-20px); /* Slightly move down */
    transition: opacity 1.5s ease, transform 1.5s ease;
    margin: 50px 180px 100px 180px;

}

.about-me-container.fade-in {
    opacity: 1; 
    transform: translateX(0); /* Move to original position */
}


.about-me-text {
    flex-basis: 50%;
    margin-left: 15px;
    text-align: left;
    color: rgb(65, 64, 115);
}

.about-me-header {
    text-shadow: 1px 1px 3px rgb(179, 195, 218);
    font-weight: 600;
}

.about-me-header h1 {
    font-size: 60px;
    text-align: left;
    margin: 20px 0 20px 0;
}

.about-me-header div {
    text-align: left;
    font-size: 40px;
}



/* Projects page */

.projects {
    margin: 50px 180px 100px 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Header  */
.projects-columns {
    display: block;
    gap: 20px;
}

.project-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 35px 0;
    background: linear-gradient(90deg, rgb(234, 242, 251) 0%, rgb(193, 204, 221) 100%); 
    border-radius: 5px;
}

.project-image {
    flex-basis: 50%;
    opacity: 0; 
    transform: translateX(-100px); 
    transition: opacity 2s ease, transform 1.5s ease;
    margin-right: 20px;
    border-radius: 5px;
}

.project-image.fade-in {
    opacity: 1; 
    transform: translateX(0px); 
}

.project-text h4 {
    margin-bottom: 0px;
}

.project-text h4, 
.project-text p {
    margin-right: 20px;
}

.project-text {
    opacity: 0; 
    transform: translateX(100px); 
    transition: opacity 2s ease, transform 1.5s ease;
    text-align: left;
    flex-basis: 50%;
    padding-bottom: 10px;
}

.project-text.fade-in {
    opacity: 1; 
    transform: translateX(0px); 
}

.project-github-link {
    margin-right: 15px;
    color: rgb(65, 64, 115);
    transition: transform 0.3s ease;
}

.project-github-link:hover {
    transform: scale(1.2);
}

.project-image-description {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.499);
    line-height: 12px;
}

.project-photo-description {
    display: flex;
    flex-direction: column ;
}

.project-tools-line {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.project-tool-box {
    background-color: rgb(76, 57, 87);
    color: white;
    margin: 0px 0px 8px 0px ;
    font-size: 12px;
    border-radius: 2px;
    padding: 5px;
    line-height: 14px;

}

/* Skills page */

.skills-grid {
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    gap: 20px;
    margin: 50px 180px;

}

.skill {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(65, 101, 138)
}

.skill:hover {
    color: rgb(49, 77, 105);
    cursor: default;
    transform: scale(1.1)
}

.skill p {
    margin-top: 10px;
    font-size: 1.1rem;
    color: #333;
}



/* Certificates  */

.certificates-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: 50px 180px;

}

.certificate-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.certificate-item img:hover {
    transform: scale(2.8)
}

/* Contact me */

.contact-container {
    background: linear-gradient(90deg, rgb(234, 242, 251) 0%, rgb(193, 204, 221) 100%); 
    margin: 90px 180px 90px 180px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 5px;
    margin: 0 10px;
}

.contact-text,
.contact-form {
    padding: 40px;
    flex-basis: 50%;
}

.contact-text {
    text-align: left;
}

.contact-form button {
    background-color: rgb(76, 57, 87);
    color: white;
    align-self: center;
    cursor: pointer;
    border: 1px solid rgb(65, 101, 138);
    border-radius: 5px;
    width: 442px; /* button (400) + padding (20 + 20) + border (1 + 1) */
    height: 50px;
}

.contact-form input, textarea {
    border: 1px solid rgb(193, 204, 221);
    font-family: "IBM Plex Sans";
    border-radius: 5px;
}

.contact-form input, 
.contact-form textarea {
    width: 400px;
    padding: 20px;
}

textarea {
    min-height: 50px;
    resize:vertical;
}


.github-link {
    color: rgb(65, 64, 115);
    transition: transform 0.3s ease;
}

.github-link:hover {
    transform: scale(1.2);
}


/* Mobile-specific styles */
@media only screen and (max-width: 768px) {
    
    header {
        padding: 10px;
    }
    
    nav ul {
        gap: 5px;
        margin-right: 0; 
    }

    h1 {
        font-size: 30px;
        line-height: 1.2;
    }

    h2 {
        font-size: 24px;
        line-height: 1.3;
    }

    h4 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }

    .about-me-container {
        display: flex;
        flex-direction: column;
    }
    .about-me-header h1,
    .about-me-header div {
        font-size: 22px;
        margin: 0;
    }
    .about-me-header div p {
        font-size: 14px !important;
    }

    .contact-container {
        display: flex;
        flex-direction: column !important;
    }

    .contact-text, .contact-form {
        padding: 20px
    }

    .contact-form label, .contact-form input, .contact-form textarea {
        border: 0;
        padding: 10px;
    }

    .contact-form button {
        width: 100%;
    }

    .project-row {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }

    .project-image, .project-text {
        margin-right: 0;
    }

    /* Skills grid */
    .skills-grid {
        grid-template-columns: repeat(3, 1fr); 
        gap: 10px;
    }

    .skill svg {
        height: 30px;
        width: 30px;
    }

    .skill p,
    .certificate-item{
        font-size: 12px;
    }

    .certificate-item img {
        height: 60px !important;
        width: 60px !important;
    }

    .certificates-grid {
        grid-template-columns: repeat(3, 1fr); 
    }

    .contact-container {
        height: 100%;
    }

    .section,
    .about-me-container,
    .projects,
    .skills-grid,
    .certificates-grid,
    .contact-container {
        margin: 20px 20px;
    }

    body, html {
        max-width: calc(100% - 40px);
        overflow-x: hidden;
    }
}
